body {
  padding: 0;
  margin: 0;
}

div, span, img {
  box-sizing: border-box;
  position: relative;
  border: 0 solid black;
  margin: 0;
  padding: 0;
  display: flex;
}

body > * {
  position: absolute;
}

div {
  background-color: #222;
}

div > div {
  background-color: #444;
}

div > div > div {
  background-color: #666;
}

div > div > div > div {
  background-color: #888;
}

div > div > div > div > div {
  background-color: #aaa;
}

div > div > div > div > div > div {
  background-color: #ccc;
}

div > div > div > div > div > div > div {
  background-color: #eee;
}