[package]
name = "stretch2"
version = "0.3.2"
authors = ["elbaro <elbaro@users.noreply.github.com>"]
edition = "2021"
include = ["src/**/*", "Cargo.toml"]
description = "High performance & cross-platform Flexbox implementation"
repository = "https://github.com/elbaro/stretch2"
keywords = ["ios", "android", "cross-platform", "layout", "flexbox"]
categories = ["gui"]
license-file = "LICENSE"

[badges]
circle-ci = { repository = "vislyhq/stretch", branch = "master" }
maintenance = { status = "experimental" }

[dependencies]
arrayvec = { version = "0.7.2", default-features = false }
hash32 = "0.2.1"
hash32-derive = "0.1.1"
heapless = "0.7.9"
num-traits = { version = "0.2.14", default-features = false }
typenum = "1.15.0"

[dependencies.hashbrown]
version = "0.11.2"
optional = true

[dependencies.serde]
version = "1.0.132"
features = ["serde_derive"]
optional = true

[features]
default = ["std"]
alloc = ["hashbrown"]
std = ["num-traits/std"]
serde_camel_case = ["serde"]
serde_kebab_case = ["serde"]

[dev-dependencies]
criterion = "0.3.5"

[profile.release]
lto = true
panic = 'abort'

[[bench]]
name = "generated"
path = "benches/generated/mod.rs"
harness = false

[[bench]]
name = "complex"
harness = false

[workspace]
members = ["scripts/gentest"]
