[package]
name = "sprawl"
version = "0.1.0"
authors = ["Alice Cecile <alice.i.cecile@gmail.com>", "Johnathan Kelley <jkelleyrtp@gmail.com>"]
edition = "2021"
include = ["src/**/*", "Cargo.toml"]
description = "A flexible UI layout library"
repository = "https://github.com/DioxusLabs/sprawl"
keywords = ["cross-platform", "layout", "flexbox"]
categories = ["gui"]
license = "MIT"

[dependencies]
arrayvec = { version = "0.7", default-features = false }
hash32 = "0.2"
hash32-derive = "0.1"
heapless = "0.7"
num-traits = { version = "0.2", default-features = false }
typenum = "1"

[dependencies.hashbrown]
version = "0.12"
optional = true

[dependencies.serde]
version = "1.0"
features = ["serde_derive"]
optional = true

[features]
default = ["std"]
alloc = ["hashbrown"]
std = ["num-traits/std"]
serde_camel_case = ["serde"]
serde_kebab_case = ["serde"]

[dev-dependencies]
criterion = "0.3"

[profile.release]
lto = true
panic = 'abort'

[[bench]]
name = "generated"
path = "benches/generated/mod.rs"
harness = false

[[bench]]
name = "complex"
path = "benches/complex.rs"
harness = false

[workspace]
members = ["scripts/gentest"]
