

section.hero-content > * {
  align-items: center;
}

.hero-content .title-letters {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.hero-content .title-letter {
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
}

.hero-content p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 20px;
  text-align: center;
}

.hero-content .badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 75px;
}

.hero-content .badges > * {
  margin-right: 10px;
}

.hero-content .badges:last-child {
  margin-right: 0px;
}

.card-collection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-collection > * {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 40%;
  flex: 1;
}

.card-collection:first-child {
  margin-left: 0px;
}

.card-collection:last-child {
  margin-right: 0px;
}

.card-collection .card {
  display: flex;
  flex-direction: column;
  background: white;
  color: var(--color-dark);
  box-shadow: 0 0 6px 0 var(--color-shadow);
  border-radius: 10px;
  padding: 25px;
  flex: 1;
}

.card-collection .card h3 {
  margin-bottom: 10px;
}

.card-collection .card span {
  font-size: 15px;
  line-height: 200%;
}

.card-collection .card span a {
  color: var(--color-accent)
}

.button-group {
  display: flex;
  margin-top: 50px;
  text-align: center;
}

.button-group > * {
  margin-right: 20px;
}

.button-group:last-child {
  margin-right: 0px;
}

.button-group .primary {
  background-color: var(--color-dark);
  color: white;
  font-size: 14px;
  border: 2px solid var(--color-dark);
  border-radius: 8px;
  font-weight: 700;
  width: auto;
  flex-shrink: 0;
  text-transform: uppercase;
  flex: 1;
  margin-left: 0px;
  margin-top: 10px;
  padding: 15px 20px;
}

.button-group .secondary {
  background-color: clear;
  color: var(--color-dark);
  font-size: 14px;
  border: 2px solid var(--color-dark);
  border-radius: 8px;
  font-weight: 700;
  width: auto;
  flex-shrink: 0;
  text-transform: uppercase;
  flex: 1;
  margin-left: 0px;
  margin-top: 10px;
  padding: 15px 20px;
}

section.featured-projects {
  background-color: var(--color-light);
}

section.blog-posts {
  background-color: white;
  background-color: var(--color-light);
}

section.blog-posts > .section-inner {
  padding: 0px 100px 75px 100px;
}

section.cross-platform {
  background-color: var(--color-dark);
  color: white;
}

section.cross-platform > .section-inner {
  padding: 75px 100px 35px 100px;
}

section.cross-platform .section-inner > h2 {
  margin-bottom: 10px;
}

.code-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.code-blocks > * {
  display: flex;
  flex-direction: row;
  margin: 40px 20px;
  flex: 1;
  min-width: 40%;
}

.code-blocks:first-child {
  margin-left: 0px;
}

.code-blocks:last-child {
  margin-right: 0px;
}

.code-blocks .code-block {
  display: flex;
  flex-direction: column;
  background: white;
  color: var(--color-dark);
  box-shadow: 0 0 6px 0 var(--color-shadow);
  border-radius: 10px;
  overflow: hidden;
}

.code-blocks .code-block pre {
  margin: 10px;
  font-size: 14px;
}

.code-blocks .code-block > code {
  background-color: var(--color-light);
  padding: 10px;
  padding-left: 18px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid var(--color-medium);
}

@media (max-width: 850px) {  
  section.blog-posts > .section-inner {
    padding: 0px 10% 8.8% 10%;
  }
  
  section.cross-platform > .section-inner {
    padding: 8.8% 10% 8.8% 10%;
  }

  .hero-content .title-letter {
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .card-collection {
    flex-direction: column;
    align-items: stretch;
  }

  .card-collection > * {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  
  .card-collection:first-child {
    margin-top: 0px;
  }
  
  .card-collection:last-child {
    margin-bottom: 0px;
  }

  .button-group {
    align-self: stretch;
    margin-top: 25px;
    flex-direction: column;
  }
  
  .button-group > * {
    margin-right: 0px;
    margin-top: 20px;
  }
  
  .button-group:last-child {
    margin-top: 0px;
  }
  
  .code-blocks > * {
    margin: 20px 0px;
    min-width: 100%;
  }

  .hero-content .badges {
    margin-bottom: 8.8%;
  }
}