
footer {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  align-items: center;
  max-width: 1300px;
  padding: 75px 100px 75px 100px;
  margin: 0px auto;
}

footer .footer-inner {
  width: 100%;
}

footer .footer-inner .logo img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

footer .footer-inner .footer-sections {
  display: flex;
  flex-direction: row;
}

footer .footer-inner .footer-sections .footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-width: 170px;
}

footer .footer-inner .footer-sections .footer-links > * {
  margin-bottom: 20px;
}

footer .footer-inner .footer-sections .footer-links:last-child {
  margin-bottom: 0px;
}

footer .footer-inner .footer-sections .footer-links > h3 {
  font-size: 15px;
}

footer .footer-inner .footer-sections .footer-links > a {
  font-size: 14px;
}

@media (max-width: 850px) {
  footer {
    padding: 8.8% 10% 8.8% 10%;
  }

  footer .footer-inner .footer-sections .footer-links {
    min-width: 120px;
  }
}