header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: 100%;
  padding: 0px 100px 0px 100px;
  max-width: 1300px;
  align-items: center;
  margin: 0px auto;
  height: 75px;
}

header .nav {
  margin-left: 30px;
  font-size: 14px;
}

header .logo {
  display: flex;
}

header .logo img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

@media (max-width: 850px) {
  header .logo img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  header {
    padding: 0px 10% 0px 10%;
  }

  header .nav {
    margin-left: 15px;
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  header .logo img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  header {
    padding: 0px 10% 0px 10%;
  }

  header .nav {
    margin-left: 10px;
    font-size: 12px;
  }
}