@import url("https://fonts.googleapis.com/css?family=Lato:700|Open+Sans:400,600,700|Source+Code+Pro");

:root {
  --color-shadow: rgba(0,0,0,0.15);
  --color-accent: rgb(105,95,223);
  --color-light: rgb(243, 246, 247);
  --color-medium: rgb(210, 210, 210);
  --color-dark: rgb(44, 61, 81);
}

html {
  position: relative;
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  color: var(--color-dark);
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
}

body > div {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

body > div > div {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: Lato, sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  margin: 0 0 16px;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
}

p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0 0 32px;
}

code {
  font-size: 1em;
  line-height: 1.5em;
  font-family: Source Code Pro, monospace;
}

pre {
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 16px;
  margin: 32px 0;
}

span {
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
}

label {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

a:hover {
  cursor: pointer;
  opacity: 0.7;
}

button {
  font-size: 14px;
  font-weight: 500;
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

input[type='submit']:hover {
  cursor: pointer;
  opacity: 0.7;
}

input,
textarea {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

.spacer {
  flex: 1;
}

.section-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  max-width: 1300px;
  padding: 75px 100px 75px 100px;
  margin: 0px auto;
}

.section-inner > h2 {
  margin-bottom: 50px;
}

@media (max-width: 850px) {
  section .section-inner {
    padding: 8.8% 10% 8.8% 10%;
    flex-direction: column;
  }

  .section-inner > h2 {
    margin-top: 8%;
    margin-bottom: 5%;
  }
}